* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    color: rgb(255, 255, 255);
    background-color: rgb(132, 132, 132);
  }
}

body {
  background-color: #101010;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}