.home {
    width: 100%;
    min-height: 100vh;
    color: rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        padding: 20px 30px;
        gap: 20px;
        align-items: flex-start;
    }
}

.leftBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user {
    width: 100%;
    background-color: #2323236a;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;

    div {
        width: 100%;
        font-size: 15px;

        h1 {
            font-size: clamp(10px, 2vw, 25px);
        }

        p {
            font-size: clamp(5px, 1.5vw, 20px);
            color: #9b9b9b;
            margin-bottom: 70px;
        }
    }

    img {
        width: 250px;
        height: 250px;
        border-radius: 125px;
        margin: 20px 0;
        object-fit: cover;
        display: flex;
    }
}

.viewedNotes {
    width: 100%;
    background-color: #2323236a;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.viewedNotesContainer {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;

    &:empty {
        height: auto;

        &::after {
            content: 'there\'s empty...';
        }
    }

    a {
        width: 200px;
        height: 150px;
        padding: 10px;
        color: #F0F0F0;
        text-decoration: none;
        background-color: #2c2c2c;
        border-radius: 10px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }
}


.note {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notesContainerTop {
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 10px;

    button {
        font-size: 14px;
        font-weight: 700;
        padding: 5px 13px;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

.createNote {
    background-color: rgb(96, 210, 96);
}
.deleteNote {
    background-color: rgb(224, 100, 100);
}


.notesContainer {
    width: 100%;
    min-height: 250px;
    background-color: #141414;
    border-radius: 15px;

    flex-wrap: wrap;
    display: flex;

    gap: 15px;
    padding: 15px;

    overflow-y: scroll;

    &:empty {
        &::after {
            content: 'there\'s empty...';
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.noteItem {
    width: 250px;
    height: 200px;

    overflow: hidden;
    position: relative;

    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    display: flex; 
    flex-direction: column;

    font-size: smaller;

    .contentContainer {
        width: 100%;
        display: flex;
        flex-direction: column;

        &:empty {
            &::after {
                content: 'this is an empty note...'
            }
        }
    }

    .selectNote {
        display: none;
        flex-direction: column;
        position: absolute;
        bottom: 15px;
        right: 15px;
        background-color: rgb(95, 119, 96);
        
        padding: 5px;
        border-radius: 5px;
    }
}


.completeRegistr {
    max-width: 100%;
    height: 250px;
    background-color: #141414;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
    padding: 15px;

    a {
        width: 30%;
        background-color: #0a0a0a;
        text-decoration: none;
        color: #FFFF;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        transition: 200ms;

        &:hover {
            background-color: #040404;
        }
    }
}
.selectedNotes {
    .selectNote {
        display: flex;
    }
}

.goToSettings {
    padding: 13px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #414141;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    
    svg {
        width: 18px;
        height: 18px;
        text-decoration: none;
        color: #b3b3b3;
    }

    &:hover {
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 850px){
    .leftBlock {
        width: 100%;
    }
    .user {
        width: 100%;

        div {
            h1 {
                font-size: 21px;
            }

            p {
                font-size: 18px;
                color: #9b9b9b;
            }
        }
    }

    .note {
        width: 100%;
    }

    .notesContainerTop {
        button {
            padding: 10px 25px;
        }
    }

    .home {
        main {
            flex-direction: column;
        }
    }

    .completeRegistr {
        width: 100%;
        font-size: 13px;
    }
}