.settings {
    min-height: 100vh;
    color: #F0F0F0;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    justify-content: center;

    span {
        color: #9b9b9b;
        font-size: 17px;
        display: flex;
        margin: 10px;

        &::before {
            content: '⎯ '
        }
    }

    div {
        margin: 10px 0;
    }
    img {
        border-radius: 100px;
        object-fit: cover;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;

    input, button {
        outline: none;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
    }
    input {
        min-width: 200px;
    }
    button {
        background-color: rgb(105, 197, 93);
        cursor: pointer;
        transition: 300ms;
        &:hover {
            filter: brightness(0.8);
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .col {
        display: flex;
        flex-direction: column;
    }
}

.updateAvatar {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        display: none;
    }
    label {
        text-align: center;
        padding: 10px;
        background-color: #4a4a4a;
        cursor: pointer;
        border-radius: 10px;
    }
}


.avatarContainer {
    display: flex;
}

.deleteAccount {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
    padding: 20px 0;

    button {
        width: 100%;
        background-color: transparent;
        border: none;
        color: #d15858;
        background-color: #d158583a;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: 300ms;

        &:hover {
            background-color: #d1585867;
        }
    }
}

@media screen and (max-width: 600px) {
    .settings {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;

        .column {
            justify-content: flex-start;

            input {
                width: 100%;
            }
        }

        .avatarContainer {
            justify-content: center;
        }

        .deleteAccount {
            margin-top: 50px;
            flex-direction: row-reverse;
            justify-content: start;
            gap: 10px;

            button {
                width: auto;
                padding: 15px 30px;
            }
        }
    }
}