.note {
    width: 100%;
    display: flex;
    min-height: 100vh;
    background-color: #101010;
    color: #FFFF;

    main {
        width: 100%;
        display: flex;
        color: #FFF;
        padding: 20px;
        flex-direction: column;
        gap: 10px;

        ol {
            margin-left: 13px;
        }
    }

    .err404 {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 60px;
        }
        p {
            font-size: 15px;
        }
        button {
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            background-color: #FFFF;
            color: #000;
            font-weight: 600;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                filter: brightness(0.7);
            }
        }
    }
}

.ownerContainer {
    width: 100%;
    display: flex;
    height: 100px;
    gap: 5vw;
    align-items: center;
    color: #FFFF;
    background-color: #252525;
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: space-between;

    img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        object-fit: cover;
    }
    button {
        padding: 20px;
        color: #FFF;
        border: none;
        background-color: #3f3f3f;
        border-radius: 50%;
        cursor: pointer;
        transition: 300ms;

        svg {
            font-size: 15px;
        }

        &:hover {
            background-color: #525252;
        }
    }
    div {
        gap: 30px;
        display: flex;
        align-items: center;
    }
}

.noteContainer {
    width: 100%;
    height: 100%;
    font-size: 15px;
    margin-top: 15px;

    textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        resize: none;
        background-color: transparent;
        outline: none;
        border: none;

        font-size: 15px;
        color: #FFFF;
    }
}