.popup {
    width: 400px;

    background-color: rgb(41, 41, 41);
    color: rgb(212, 212, 212);
    border: 3px solid rgb(114, 114, 114);

    position: fixed;
    translate: -50% -50%;
    top: 50%;
    left: 50%;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    animation: popup 0.25s 1;

    h1 {
        margin: 20px;
        font-size: 24px;
        text-align: center;
    }

    div {
        display: flex;

        button {
            height: 30px;
            width: 50%;
            background-color: transparent;
            border-width: 2px 1.5px 0 0;
            border-style: solid;
            border-color: rgb(114, 114, 114);
            outline: none;
            color: rgb(164, 164, 164);
            font-weight: 600;
            cursor: pointer;
        }
    }
}

@keyframes popup {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}